<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title><%- title %></title>
    <%- partial('partials/admin/style')%>
</head>

<body>
    <%- partial("partials/admin/navbar")%>
    <div class="container-fluid">
        <div class="row">
            <%- partial("partials/admin/sidebar-nav")%>
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
                <%- body %>
            </main>
        </div>
    </div>
    <%- partial('partials/admin/script') %>
</body>

</html>