<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 ">
    <h1 class="h2"><%= project.name %></h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class=" mr-2">
            <a href="/admin/addProject" class="btn btn-sm btn-outline-secondary px-2">Create New</a>
            <a class="btn btn-sm btn-outline-secondary" href="/admin/project/<%= project.slug %>/delete">Delete</a>
        </div>
        <button class="btn btn-sm btn-outline-secondary">
            Upload Demo
        </button>
    </div>

</div>
<form class="needs-validation" method="Post" action="/admin/project/<%= project.slug %>/update">
    <div class="form-row">
        <div class="col-md-6 mb-3">
            <label for="name">Name</label>
            <input type="text" class="form-control" name="name" id="name" value="<%= project.name %>" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="col-md-6 mb-3">
            <label for="validationCustom02">Slug</label>
            <input type="text" name="slug" class="form-control" id="slug" value="<%= project.slug %>" disabled>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-6 mb-3">
            <label for="validationCustom01">GithubUrl</label>
            <input type="text" class="form-control" name="githubUrl" id="validationCustom01"
                value="<%= project.githubUrl %>" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="col-md-6 mb-3">
            <label for="tags">tags</label>
            <input type="text" class="form-control" name="tags" id="validationCustom02" value="<% tags.forEach((ele)=>{ %><%= ele.name %> ,
<%}) %>" required>

        </div>
    </div>
    <div class="form-row">
        <div class="col-md-6 mb-3">
            <div class="form-group">
                <label for="description">Description</label>
                <textarea class="form-control" name="description" id="description" rows="3"
                    cols="10"><%= project.description %></textarea>

            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-6 mb-3">
            <% if(project.image) {%>
            <img src="<%= project.image%>" alt="" srcset="">
            <a href="/admin/project/<%= project.slug %>/upload">Change Image</a>

            <%} else {%>

            <a href="/admin/project/<%= project.slug %>/upload">Upload Image</a>

            <% } %>
        </div>
    </div>









    <button class="btn btn-primary" type="submit">Update</button>
</form>

<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>