<div class="album bg-light">
    <div class="container">
        <div class="row">
            <% projects.forEach((ele)=>{ %>
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img src="<%= ele.image %>" width="350px" height="200px" alt="" srcset="">
                    <div class="card-body">
                        <h1><%= ele.name %></h1>
                        <p class="card-text"><%= ele.description %></p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="/project/<%= ele.slug %>" class="btn btn-sm btn-outline-secondary">Details</a>
                                <a href="<%= ele.githubUrl%>" class="btn btn-sm btn-outline-secondary">Github</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <% }) %>

        </div>
    </div>
</div>