<div class="album py-3 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-3 project-sidebar">
                <div class="project-sidebar-block">
                    <h2>Links</h2>
                    <div class="project-sidebar-link">
                        <a class="btn btn-primary" href=#>Live Demo</a>
                    </div>
                    <div class="project-sidebar-link">
                        <a class="btn btn-primary" href="<%= data.githubUrl%>"> Github Link</a>
                    </div>
                </div>
                <hr>
                <div class="project-sidebar-block">
                    <h2>Tags</h2>
                    <% data.tags.forEach((ele)=>{ %>
                    <div class="badge badge-<%= ele.class%>" href=#><%= ele.name%></div>
                    <%})%>
                </div>
            </div>
            <div class="col-md-9">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item"><a href="/projects">Projects</a></li>
                        <li class="breadcrumb-item" aria-current="page"><%= data.name%></li>
                    </ol>
                </nav>
                <h1><%= data.name%></h1>
                <p><%= data.description%></p>
                <img src="/image/images.jpeg" alt="Project-detail">
            </div>
        </div>
    </div>
</div>